@import "tailwindcss";

:root {
  --background: #0F0F0F;
  --foreground: #E6E6E6;
  --background-secondary: #1A1A1A;
  --background-tertiary: #242424;
  --border: #2A2A2A;
  --text-primary: #E6E6E6;
  --text-secondary: #B4B4B4;
  --text-tertiary: #808080;
  --accent: #00FF99;
  --error: #D95F5F;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}


html {
  scroll-behavior: smooth;
}
